<div class="saltire-badge align-centre{{#if disabled}} disabled{{/if}}">
  {{#ifAny (compare type 'approach') (compare type 'ascent') ~}}
  {{#if hours ~}}
  <img src="{{~>asset_url url=(concat 'images/badges/' type '-' hours '.svg') ~}}" class="img-responsive" />
  {{/if ~}}
  {{else}}
  <img src="{{~>asset_url url=(concat 'images/badges/' type '.svg') ~}}" class="img-responsive" />
  {{/ifAny ~}}
</div>