<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user-clock fa-3x"></span>
  </div>
  <p class="empty-title h5">You haven't logged any volunteering yet</p>
  <p class="empty-subtitle">
    The {{@root.context.metaData.title}} gives you recognition for the volunteering you do.
  </p>
  <p class="empty-subtitle">
    Add your first volunteering task to begin logging hours.
  </p>
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
  {{#unless @root.data.isAdmin ~}}
  <p class="empty-subtitle">
    Already received a certificate from a group? Add the certificate to your account with a claim code.
  </p>
  <p class="empty-subtitle">
    <a href="/claim-award" class="btn">Claim award with code</a>
  </p>
  {{/unless ~}}
</div>
