<div class="empty">
  <div class="empty-icon">
    <i class="icon icon-people"></i>
  </div>
  <p class="empty-title h5">You have not logged any volunteering hours yet</p>
  <p class="empty-subtitle">Add your first volunteering task, or claim hours from an existing certificate.</p>
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
</div>
