<div class="b-margin-full">
  {{#unless @root.data.isAdmin ~}}
  {{#unless (compare (dateMath 'now-27y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")) ~}}
  <a href="/task" class="btn btn-primary">
    Add new task
  </a>
  {{/unless ~}}
  <a href="/claim-hours" class="btn">
    Claim hours with code
  </a>
  {{else}}
  <a href="/task" class="btn btn-primary">
    Add new group task
  </a>
  {{/unless ~}}
</div>
