<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user-clock fa-3x"></span>
  </div>
  <p class="empty-title h5">You haven't logged any volunteering yet</p>
  <p class="empty-subtitle">
    The {{@root.context.metaData.title}} gives you recognition for the volunteering you do.
  </p>
  <p class="empty-subtitle">
    Add your first volunteering task to begin logging hours. You can also claim hours from an existing certificate to increase the hours on your {{@root.context.metaData.accountName}} account.
  </p>
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
</div>
