<p class="empty-title h4">Volunteering verification</p>
<p class="empty-subtitle">
  Verification of hours volunteered by {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}} has been recorded.<br />
  You may now close this page
</p>
