<div class="mdc-card__actions">
  <div class="mdc-card__action-buttons demo-card__action-buttons--text-only mdc-card__actions--full-bleed">
    <a href="/search/opportunity/{{Id}}/{{title_slug}}{{> query_search}}" class="mdc-card__action hide-sm">Find out more</a>
    <a href="/search/opportunity/{{Id}}/{{title_slug}}{{> query_search}}" class="mdc-card__action hide-md hide-lg"><span class="fal fa-info-circle fa-fw fa-2x" aria-hidden="true"></span></a>
  </div>
</div>