<div class="card list" data-opportunity-id="{{Id}}" data-opportunity-layout="List" data-opportunity-context="{{default viewContext "Other"}}">
  {{> volunteering_opportunity_key_info type="list"}}
  {{> volunteering_opportunity_description limit="10.5rem" description=description}}
  {{> volunteering_opportunity_actions slug=slug Id=Id}}
</div>