<div class="card mini" data-opportunity-id="{{Id}}" data-opportunity-layout="Mini" data-opportunity-context="{{default viewContext "Other"}}">
  {{> volunteering_opportunity_key_info type="mini"}}
  {{> volunteering_opportunity_description limit="4.5rem" description=description}}
  {{> volunteering_opportunity_actions slug=slug Id=Id}}
</div>