<div id="detailed-results-container" class="container-content content-notes">
  <h1 class="mdc-typography--headline4">
    My account
  </h1>

  <h2 class="mdc-typography--headline6">
    Your details
  </h2>

  <form id="user-details-form" action="/submit-user-details" method="POST" data-ajax-form='{
      "successCallback": "completeAccountCB",
      "failureCallback": "completeAccountCB"
    }'>

    {{> account_details_form_fields admin=(compare @root.data.accountInfo.user_type '===' 'Group Admin')}}

    {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
    <button id="detail-submit" class="mdc-button mdc-button--raised b-margin-full" id="register-interest-submit">
      <span class="spinner fas fa-spin fa-spinner mdc-list-item__graphic" aria-hidden="true"></span>
      Save
    </button>
  </form>
</div>

{{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#user-details-form').on('submit', function(e){
      $('#detail-submit').prop('disabled', true);
    })
  });

</script>