{{#if @root.data.auth ~}}
<div class="b-margin">
  <h4 class="h-padding t-margin">
    {{#compare @root.data.accountInfo.user_type "Group Admin" ~}}
    Group administrator
    {{else}}
    My Saltire
    {{/compare ~}}
  </h4>
  <ul class="menu">
    {{#each @root.context.metaData.menus.user-signed-in ~}}
    {{#compare label "!==" "Sign out" ~}}
    {{#if (contains user-types @root.data.accountInfo.user_type) ~}}
    <li class="menu-item">
      <a href="{{stripTrailingSlash path}}" class="{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}{{#if @root.data.accountInfo.verification_needed}} disabled{{/if}}">
        {{#if icon ~}}
        <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
        {{/if ~}}
        {{{label}}}
      </a>
    </li>
    {{/if ~}}
    {{/compare ~}}
    {{/each ~}}
  </ul>
</div>
{{/if ~}}