<div id="sign-in-form" class="container form authentication-form">
  <div class="l-margin r-margin">
    <div class="bg-error s-rounded x-padding v-margin" id="sign-in-message">
      <span id="form-message"></span>
    </div>
  </div>
  <div class="x-padding">
    <p>
      If you already have an {{!--My Volunteer--}} Account, please sign in below. If not, you can <a href="/sign-up">sign up</a> for a free account.
    </p>
    <div id="form-section-email">
      <div class="t-padding-full">
        <div class="form-group has-icon-left">
          <input class="form-input" type="email" id="sign-in-email" placeholder="Email" />
          <span class="form-icon far fa-envelope" id="sign-in-email-icon"></span>
        </div>

        <div class="form-group has-icon-left">
          <input class="form-input" type="password" id="sign-in-password" placeholder="Password" />
          <span class="form-icon far fa-key" id="sign-in-password-icon"></span>
        </div>
      </div>
      <div id="form-section-sign-in-buttons" class="t-margin">
        <div class="">
          <button class="btn btn-primary" type="submit" id="sign-in-submit" data-component="TasksTrigger" data-TasksTrigger="sign-in" data-provider-id="password">
            Sign in
          </button>
        </div>

        <p class="b-padding-full">
          Forgot your password? <a href="/reset-password">Reset password</a>
        </p>

        <div class="divider text-center v-margin-full" data-content="or"></div>

        <div class="t-padding-full">
          {{> account_sign_in_social messageSelector="#sign-in-message"}}
        </div>

        <p class="v-margin-full v-padding-full">
          Read our <a href="/privacy" target="_blank">privacy notice</a>
        </p>
        {{!-- <h3>
          Not registered?
        </h3>
        <div class="t-margin b-margin-full">
          <a href="/sign-up" class="btn">Sign up for a free account</a>
        </div> --}}
        <div class="label label-warning x-padding b-margin-full" style="width:100%;">
          <h3>
            Group administrator?
          </h3>
          <div class="my-saltire columns t-margin">
            <div class="column col-6 my-saltire-item align-centre">
              <a href="/sign-up-admin" class="btn text-centre">Request approval</a>
            </div>
            <div class="column col-6 my-saltire-item align-centre">
              <a href="/sign-in-admin" class="btn text-centre">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{{> account_task_sign_in}}