<div class="header-image" style="background-image:url({{~>asset_url url='images/luke-porter-203637-unsplash-wide.jpg' ~}});">
  <div class="header-image-overlay">
    <div class="container">
      <div class="x-padding-full">
        <h1 class="b-margin-full b-padding">
          Celebrating youth volunteering in Scotland
        </h1>
        <h2 class="t-margin-full t-padding">
          Aged 12-25 and volunteer?
        </h2>
        <p>
          <strong>The Saltire Awards are the Scottish Government's way of celebrating,<br />
          recognising and rewarding the commitment, contribution and <br />
          achievements of young volunteers in Scotland.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="b-padding-full v-margin-full">
    <h2 class="text-centre">
      Get certificates
    </h2>
    <div class="text-centre caption">
      signed by Scottish Government Ministers
    </div>
    <div class="columns certificates">
      <div class="column col-3 certificate">
        <img src="{{~>asset_url url='images/certificates/logos/challenge.png' ~}}" class="certificate-icon img-responsive" />
        <p>
          For those getting started in volunteering through team challenges
        </p>
      </div>
      <div class="column col-3 certificate">
        <img src="{{~>asset_url url='images/certificates/logos/approach.png' ~}}" class="certificate-icon img-responsive" />
        <p>
          For when you've reached 10 and 25 hours volunteering
        </p>
      </div>
      <div class="column col-3 certificate">
        <img src="{{~>asset_url url='images/certificates/logos/ascent.png' ~}}" class="certificate-icon img-responsive" />
        <p>
          For when you've reached 50, 100, 200 or even 500 hours
        </p>
      </div>
      <div class="column col-3 certificate">
        <img src="{{~>asset_url url='images/certificates/logos/summit.png' ~}}" class="certificate-icon img-responsive" />
        <p>
          For those that have made an outstanding contribution to volunteering
        </p>
      </div>
    </div>
    <div class="my-saltire columns">
      <div class="column col-6 my-saltire-item align-centre">
        <a href="/sign-up" class="btn btn-primary text-centre">Sign up now</a>
      </div>
      <div class="column col-6 my-saltire-item align-centre">
        <a href="/sign-in" class="btn text-centre">Sign in</a>
      </div>
    </div>
  </div>
</div>