<div class="container">
  <h2>
    Claim hours by certificate code
  </h2>
  <form id="input-code-form" action="/submit-hours-claim" method="POST" data-component="TasksTrigger" data-success-destination="/hours" data-TasksTrigger="ajax-form-handler">
    <div class="columns b-margin">
      <div class="column col-3">
        <div class="form-group">
          <label for="hours_claim_code" class="form-label">
            Enter your claim code
          </label>
          <input id="task-code" name="hours_claim_code" class="form-input" placeholder="e.g. a1b2c3e4f5" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task-code}}>
        </div>
      </div>
    </div>
    <button id="detail-submit" type="submit" class="submit-button btn btn-primary b-margin-full">
      Claim hours
    </button>
  </form>
</div>

{{!-- <script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#input-code-form').on('submit', function(e){
      $('#input-code-form').find('.submit-button').prop('disabled', true);
    })

  });
  function completeHoursClaim(response){
    var jsonData = JSON.parse(response);
    if (jsonData.id){
      window.location.href = '/hours/';
    } else {
      $('.submit-button').prop('disabled', false);
      saltireawards.componentsInitialiser.snackbar.show({message:"Failed to claim hours."});
    }
  }
</script> --}}