<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user fa-3x"></span>
  </div>
  <p class="empty-title h5">
    {{{@root.data.accountInfo.first_name}}} {{{@root.data.accountInfo.last_name}}}
  </p>
  {{#if @root.data.awardsStatus.current ~}}
  <p class="empty-subtitle">
    {{> badge hours=@root.data.awardsStatus.current}}
  </p>
  {{/if ~}}
  {{!-- <p class="empty-subtitle">
  </p> --}}
  {{!-- <div class="empty-action">
  </div> --}}
</div>

<div class="content-break">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#EEF0FA" points="100,0 100,100 0,0"></polygon>
  </svg>
  <div class="container">
    {{!-- profile content --}}
  </div>
</div>