{{#*inline "profile_title" ~}}
{{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}} – Saltire Awards
{{/inline ~}}
<title>{{> profile_title}}</title>
<meta property="og:title" content="{{> profile_title}}" data-dynamic="true">