<div class="empty">
  <div class="empty-icon text-error">
    <span class="fal fa-user-times fa-3x"></span>
  </div>
  <p class="empty-title h5">Volunteering verification</p>
  <p class="empty-subtitle">
    <strong>Volunteering hours could not be verified.</strong> This may be because the request email was re-sent.
  </p>
  <p class="empty-subtitle">
    Please <a href="/contact">contact us</a> if you think this is incorrect.
  </p>
</div>
