<div class="empty">
  <div class="empty-icon text-error">
    <span class="fal fa-user-times fa-3x"></span>
  </div>
  <p class="empty-title h4">Volunteering verification</p>
  <p class="empty-subtitle">
    <strong>Verification of hours volunteered by {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}} could not be recorded.</strong>
  </p>
  <p class="empty-subtitle">
    This may be because the verification request email was re-sent, please check in case you have received a more recent email.
  </p>
  <p class="empty-subtitle">
    If the latest email for this volunteer also failed to verify or you did not receive any further emails, please <a href="/contact">contact us</a>.
  </p>
</div>
