@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&display=swap');

$primary-color: #008EDF;
$primary-color-light: lighten($primary-color, 30%) !default;
$primary-color-dark: darken($primary-color, 6%) !default;
$secondary-color: #1B2875;
$secondary-color-light: lighten($secondary-color, 35%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$bg-color: lighten($secondary-color-light, 32%) !default;
$bg-color-light: lighten($bg-color, 4%) !default;
$bg-color-dark: darken($bg-color, 4%) !default;
$dark-color: #10183A;
$gray-color: #333E48;
$light-color: #FFFFFF;
$success-color: #AACB2D;
$warning-color: #EB8918;
$error-color: #f03823;

$theme-challenge: $primary-color;
$theme-challenge-light: #8FCFF2;
$theme-approach: #3BAA34;
$theme-approach-light: #BEDBB0;
$theme-ascent: #F05B23;
$theme-ascent-light: #FBD3AA;
$theme-summit: #514680;
$theme-summit-light: #B2A2C7;

$theme-footer: #591669;
$theme-footer-light: #FEF9F9;
$theme-footer-dark: #333E48;

$unit: 1rem;
$link-font-weight: 500;
$heading-font-weight: 400;
$heading-font-family: "Sonder Sans 3";
$body-font-family: "Montserrat";
$badge-font-weight: 800;
$page-width: 1200px;
$home-splash-height: 25vh;
$transition-speed: .3s;

@import "../node_modules/spectre.css/src/spectre";
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');

.container {
  padding: 0 $unit;
}
body {
  word-break: break-word;
}
body,
.footer-copyright {
  background-color: $theme-footer-light;
}
.footer-main {
  background-color: $theme-footer;
}
.page {
  background-color: white;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body,
input,
select,
textarea,
body * {
  font-family: $body-font-family, sans-serif;
  box-sizing: border-box;
}
body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  margin: $unit/2 0 $unit;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 2rem;
  letter-spacing: 0.02rem;
}
h5 {
  font-size: 1.75rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-transform: lowercase;
  margin-bottom: 0;
  // letter-spacing: -0.05rem;
}
.wForm {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-transform: none;
  }
  .label {
    background-color: transparent;
  }
}
a,
.btn,
.chip,
footer h4,
strong {
  font-weight: $link-font-weight;
}

a,
a:visited,
a:link {
  color: $secondary-color;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: border $transition-speed, color $transition-speed, background-color $transition-speed;
}
a:hover {
  color: $secondary-color-dark;
  text-decoration: underline;
}
a:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.chip-set a:hover,
a.pure-menu-link:hover {
  text-decoration: none;
}
.chip {
  display: inline-block;
  color: $primary-color-dark !important;
  background-color: lighten($primary-color-light, 23%);
}
.chip:hover {
  color: white !important;
  background-color: $primary-color-dark;
}

a.btn:link,
a.btn:visited,
.btn {
  color: $primary-color;
  border-color: $primary-color;
}
a.btn:hover,
.btn:hover {
  background-color: $primary-color-dark;
  color: white;
  border-color: $primary-color-dark;
}
a.btn:active,
a.btn:focus,
.btn:active,
.btn:focus {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}
a.btn-primary:link,
a.btn-primary:visited,
.btn-primary,
a.btn-secondary:link,
a.btn-secondary:visited,
.btn-secondary {
  color: white;
}
a.btn-link {
  border: none;
}
a.btn-link:hover {
  background-color: transparent;
}

.label.label-warning {
  background-color: $theme-ascent;
  a {
    color: white;
  }
  a.btn:link, a.btn:visited, .btn {
    border-color: $theme-summit;
    color: $theme-summit;
  }
  .btn.btn-primary {
    color: white;
    background-color: $theme-summit;
    border-color: $theme-summit;
  }
  a.btn:hover, a.btn:focus {
    color: white;
    background-color: $theme-summit;
    border-color: $theme-summit;
  }
  .btn.btn-primary:hover,
  .btn.btn-primary:focus {
    color: white;
    background-color: darken($theme-summit, 15);
    border-color: darken($theme-summit, 15);
  }
}

#toaster {
  position: fixed;
  z-index: 2;
  bottom: $unit;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  pointer-events: none;
  .btn:hover,
  a {
    color: white;
  }
  .toast {
    position: relative;
    margin-top: $unit/4;
    pointer-events: all;
  }
  .toast-in {
    animation: toast-in 0.4s ease-in,
               toast-out 0.4s ease-in 5.4s;
    animation-fill-mode: forwards;
  }
  .toast-hovered {
    animation: 0, 0;
    top: 0;
    opacity: 1;
  }
  .toast-out {
    animation: toast-out 0.4s ease-in 5s;
    animation-fill-mode: forwards;
  }
  .toast-closed {
    animation: toast-out 0.4s ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes toast-in {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes toast-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    99% {
      opacity: 0;
      transform: translateX(60vh);
    }
    100% {
      opacity: 0;
      transform: translateX(9999px);
      pointer-events: none;
    }
  }
}

blockquote {
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
  border: none;
}
blockquote:before {
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  position: absolute;
  float:right;
  font-size:6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
  margin: $unit/2 0 0 0;
}
blockquote cite:before {
  content: "\2013";
}

[type="date"] {
  background: #fff url('https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png') 99% 50% no-repeat !important;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.twitter-typeahead {
  display: block;
  width: 100%;
  .tt-input {
    width: 100%;
  }
  .tt-menu {
    cursor: default;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.05rem 0.2rem rgba(16,24,58,0.3);
    width: 100%;
    h3,
    h4 {
      font-size: 1rem;
      margin: $unit/4 0;
    }
    .tt-dataset {
      // padding: $unit/4 0;
      strong.title, div {
        padding: 0 $unit/4;
      }
    }
    .tt-cursor {
      background-color: $primary-color;
      color: white;
    }
  }
}

.chip-filters {
  display: inline-block;
  .chip {
    cursor: default !important;
    .chip__text {
      margin-left: 0;
    }
    .chip__icon--trailing {
      cursor: pointer !important;
      margin-left: $unit/4;
    }
  }
  > span:first-child::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: #444;
  }
  &:empty {
    display: none;
  }
  &:not(:empty) {
    margin-top: $unit;
  }
}

#activities-filters > span:first-child::before { content: "\f757"; }
#themes-filters > span:first-child::before { content: "\f0c0"; }
#availability-filters > span:first-child::before { content: "\f017"; }

.leaflet-popup-content .map-content {
  h4 {
    font-size: 1rem;
  }
  .post-info {
    font-size: 0.7rem;
  }
  .opportunity-link .btn-link {
    padding: $unit/2 0;
  }
}
#map-full {
  z-index: 10;
}
.chip-filters:not(:empty) {
  margin-top: $unit/4;
}
.tab-action {
  margin-bottom: -5px;
  .form-horizontal {
    padding: 0;
  }
}
.form-horizontal .form-horizontal {
  padding: 0;
}

.content-primary-info-container.tabs {
  .tab {
    margin-bottom: -1px;
  }
  .panel-body.location-info {
    padding: 0;
  }
}

@media screen and (min-width: 961px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .mobile-menu {
    display: block;
    .mobile-menu_background {
      background-color: #00000033;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
    }
    .mobile-menu_contents {
      position: fixed;
      background-color: #ffffff;
      height: 100vh;
      width: 300px;
      z-index: 1;
      top: 0;
      left: -300px;
      padding: $unit/2 0;
      z-index: 4;
    }
    &.mobile-menu_open {
      .mobile-menu_background {
        animation: fade-in 0.5s forwards;
      }
      .mobile-menu_contents {
        animation: slide-in 0.5s forwards;
      }
    }
    &.mobile-menu_closing {
      .mobile-menu_background {
        animation: fade-out 0.5 forwards;
      }
      .mobile-menu_contents {
        animation: slide-out 0.5s forwards;
      }
    }
    &.mobile-menu_closed {
      display: none;
    }
  }

  @keyframes slide-in { 100% { left: 0 } }
  @keyframes slide-out { 0% { left: 0; } 100% { left: -300px; } }
  @keyframes fade-in { 100% { opacity: 1; } }
  @keyframes fade-out { 0% { opacity: 1; } 100% { opacity: 0; } }
}

header {
  z-index: 1;
  background: linear-gradient(179.4deg, $secondary-color 89.5%, rgba(255,255,255,0) 90%);
  min-height: 176px;
  position: relative;
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
  margin-bottom: -($unit);
  .brand {
    float: left;
    .logo img {
      height: 100%;
      width: 100%;
      max-width: 191px;
    }
  }
  .mobile-menu-button {
    float: right;
  }
  .nav {
    text-align: right;
    margin: 0;
    padding: $unit/2 0;
  }
  .page-title {
    padding: 0 195px;
    h1 {
      color: white;
      margin: $unit/2 0;
      padding-bottom: $unit;
      text-align: center;
    }
  }
  .dropdown-toggle,
  .dropdown .btn.btn-link,
  .dropdown .btn:focus,
  .dropdown .btn:hover,
  .btn.btn-link,
  .btn.btn-link:focus,
  .btn.btn-link:hover,
  .btn.btn-link:active,
  .btn.btn-link.active,
  .btn:focus,
  .btn:hover {
    color: white !important;
    background: transparent;
    border-color: transparent;
  }
  .main-menu {
    .btn.btn-link:not(.my-account) {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      border-bottom: 2px solid transparent;
    }
    .btn.btn-active:not(.my-account),
    .btn.btn-link:not(.my-account):hover {
      border-bottom-color: white;
    }
  }
  .dropdown {
    text-align: left;
    .menu {
      padding: $unit/2 0;
      left: .4rem;
      right: .4rem,
    }
    .menu .menu-item>a {
      color: $secondary-color !important;
    }
    .menu .menu-item>a.active {
      background-color: $primary-color !important;
      color: white !important;
    }
    .menu .menu-item>a:focus,
    .menu .menu-item>a:hover,
    .menu .menu-item>a:active {
      background-color: $primary-color-dark !important;
      color: white !important;
    }
  }
  .dropdown-toggle {
    padding-right: $unit/4;
  }
  .btn.btn-link.my-account {
    color: white !important;
  }
  .my-account {
    margin-top: -2px;
    z-index: 100;
    color: white !important;
    background: $secondary-color !important;
    border: 2px solid white !important;
    border-radius: $unit*2;
    margin-left: $unit/3;
    .dropdown-toggle {
      border-color: transparent !important;
      color: white !important;
      border-radius: $unit*2 !important;
      margin: -1px;
    }
    .dropdown-toggle:focus,
    .dropdown-toggle:hover {
      background-color: white;
      color: $secondary-color-dark !important;
    }
  }
}
.btn.btn-link.my-account:hover,
.btn.btn-link.my-account.btn-active {
  color: $secondary-color !important;
  border-color: $secondary-color;
  background-color: white !important;
}
.my-account.dropdown.signed-in {
  min-width: 240px;
}

.certificates {
  .certificate {
    .img-responsive {
      margin: 0 auto;
    }
  }
}

header,
.sidebar,
.noselect,
.saltire-badge {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.saltire-badge {
  margin-bottom: $unit;
  img {
    width: 120px;
  }
}
.saltire-badge.disabled {
  filter: grayscale(1);
  opacity: 0.7;
}

.page .content-break {
  position: relative;
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $unit/2;
  }
}

.sidebar {
  min-width: 252px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  .menu {
    background: transparent;
    box-shadow: none;
    .menu-item a {
      border-radius: 0 $unit*2 $unit*2 0;
      margin-right: 0;
    }
  }
}
.sidebar,
.dropdown {
  .menu {
    padding: 0;
    .menu-item a {
      .fa-fw {
        margin-right: $unit*.9;
      }
    }
    .active {
      color: $primary-color;
      font-weight: $link-font-weight;
      .fal {
        font-weight: 500;
      }
      .far {
        font-weight: 600;
      }
    }
  }
}

.menu .menu-item .menu-badge {
  margin-right: 0.4rem;
}

.menu .menu-item>a {
  border-radius: 0;
}
.menu .menu-item>a.active {
  background-color: $primary-color;
  color: white;
}
.menu .menu-item>a:focus,
.menu .menu-item>a:hover,
.menu .menu-item>a:active {
  background-color: $primary-color-dark;
  color: white;
}
.menu .menu-item:hover .form-checkbox {
  // color: white;
}

.sidebar-not-present {
  margin-top: -($unit*1.5);
  .body .container {
    padding-top: $unit*2;
    padding-bottom: $unit*3;
    max-width: $page-width;
    margin: 0 auto;
  }
}
.sidebar-present {
  clear: both;
  .sidebar,
  .body {
    margin-top: -($unit/2);
  }
  .sidebar,
  .body .container {
    padding-top: $unit*2;
    padding-bottom: $unit*3;
  }
  .body .container {
    max-width: $page-width;
    margin: 0;
  }
  .empty {
    padding-left: 0;
    padding-right: 0;
    .empty-icon,
    .empty-title,
    .empty-subtitle,
    .empty-action {
      max-width: $page-width;
      margin-left: 0;
    }
  }
}

.body .award-not-present div svg,
.body .award-present div svg {
  display: none;
}
.body .award-present div:nth-child(2) svg {
  display: block;
}

.caption {
  font-size: 92%;
}

form {
  position: relative;
}

.authentication-form {
  padding: $unit*1.5 0;
  min-height: 15vh;
  max-width: 500px !important;
  margin: 0 auto;
  position: relative;
  .middle-line-text {
    margin: $unit*2 0 $unit*2;
    border-bottom: 2px solid $gray-color;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    span {
      padding: $unit;
      color: #555;
    }
  }
  .social .btn {
    height: $unit*2.5;
    border: none;
  }
  .btn {
    position: relative;
    display: block;
    margin-bottom: $unit/2;
    width: 100%;
    color: white;
    .fa-2x {
      position: absolute;
      top: $unit/2;
      left: $unit/2;
    }
    .google-logo {
      top: .6rem;
      img {
        float: left;
        width: 28px;
        padding: $unit/4;
        background: white;
        border-radius: 3px;
      }
    }
  }
  #sign-in-message,
  #sign-up-message,
  #reset-password-message {
    display: none;
    a {
      font-weight: $heading-font-weight;
    }
  }
}
#sign-out-form {
  justify-content: center;
  align-items: center;
  .loading {
    display: flex;
  }
}
form {
  #active-form-message {
    display: none;
    a {
      font-weight: $heading-font-weight;
    }
  }
}

.card-header .organisation {
  margin-bottom: 0;
}

.pagination {
  justify-content: center;
}

.social .btn, .social-button {
  height: $unit*2.5;
  border: none;
  position: relative;
  display: block;
  margin-bottom: $unit/2;
  width: 100%;
  color: white;
  .fa-2x {
    position: absolute;
    top: $unit/2;
    left: $unit/2;
  }
  .google-logo {
    top: .6rem;
    img {
      float: left;
      width: 28px;
      padding: $unit/4;
      background: white;
      border-radius: 3px;
    }
  }
}

.chip.bg-google,
#continue-with-google {
  background-color: #DB3633 !important;
}
.chip.bg-twitter,
#continue-with-twitter {
  background-color: #007DA3 !important;
}
.chip.bg-facebook,
#continue-with-facebook {
  background-color: #2C5797 !important;
}
#link-unlink {
  .chip {
    color: white !important;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
    .fa-fw {
      margin-right: $unit/4;
    }
  }
}

.card-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  .card-loader-background {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .card-loader-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

.authentication-form {
  .btn {
    color: white;
    text-align: center;
  }
}

.header-image {
  margin-top: -($unit);
  margin-bottom: -($unit);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 38%;
  min-height: $home-splash-height;
  .header-image-overlay {
    position: relative;
    width: 100%;
    min-height: $home-splash-height;
    svg.bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $unit*2;
    }
  }
  .container {
    min-height: $home-splash-height;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }
}

ul.fa-ul {
  margin-left: $unit*1.3333;
}

.faded-overflow {
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 1));
  }
}

.search-form {
  .input-group {
    .form-select {
      flex: 0 0 auto
    }
  }
  .btn-lg {
    width: 100%;
  }
}

.form-label {
  padding: 0;
}

.form-horizontal {
  margin-left: -.4rem;
  margin-right: -.4rem;
}
// .column .column {
//   padding-left: 0;
// }

.cards.equal-height {
  .column {
    padding-bottom: 0.8rem;
  }
}
.equal-height {
  .card {
    height: 100%;
  }
  .card-footer {
    .btn-link {
      height: auto;
      padding: 0;
    }
  }
}
.contact.equal-height {
  .card-body {
    padding: 0;
  }
}
.fa-ul.hours-info {
  margin-top: 0;
  margin-bottom: 0;
  cursor: default;
  .popover-container {
    ul.card-body {
      padding-top: .6rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.card-body ul.hours-info li:first-child {
  margin-top: 0;
}

.hours-logged {
  .hours-log-entry {
    display: none;
  }
  .hours-log-entry:nth-child(1),
  .hours-log-entry:nth-child(2),
  .hours-log-entry:nth-child(3) {
    display: block;
  }
}


.inline-form-text {
  padding: $unit/5 $unit/2 0;
  margin-bottom: $unit/4;
  font-size: 95%;
  line-height: 2;
  display: inline-block;
}

.claim-code {
  padding: $unit/5 $unit/2 0;
  text-transform: uppercase;
  margin-bottom: $unit/4;
  font-size: 95%;
  line-height: 2;
  display: inline-block;
  font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

.bg-error {
  .btn-primary,
  .btn-link {
    color: white !important;
  }
  .btn-primary {
    border-color: white !important;
    background-color: transparent;
  }
  .code code {
    background: transparent;
    color: white;
  }
}
.btn.btn-error {
  border-color: $error-color !important;
  color: white !important;
}
.btn.btn-clear:focus,
.btn.btn-clear:hover {
  background-color: $primary-color !important;
}

.modal-form {
  overflow-y: auto;
}
.modal-container .modal-container {
  box-shadow: none;
  padding: 0;
}

.table th,
.table td {
  border-bottom-width: 1px;
  font-weight: $heading-font-weight;
}
.table-condensed {
  th,
  td {
    width: 12.5%;
  }
  .form-checkbox {
    padding: .1rem .4rem;
  }
}
.awards > .working-towards {
  display: flex;
  justify-content: center;
}

.awards > .working-towards ~ .working-towards,
.hidden, .hide {
  display: none;
}

a.disabled{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.form.disabled,
form.disabled {
  pointer-events: none;
  >* {
    opacity: 0.5;
  }
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 47.4%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid $primary-color;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1000ms;
  }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

footer {
  position: relative;
  margin-top: -($unit*1.5);
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  svg.top {
    height: $unit*1.5;
    top: -($unit*1.5);
  }
  svg.mid {
    width: 30%;
    right: 0;
    bottom: $unit/4;
    height: $unit*4;
  }
  svg.bottom {
    height: $unit/2;
    bottom: 0;
  }
  .footer-main {
    margin-top: $unit*1.5;
    // background: linear-gradient(166deg, rgba(89,22,105,1) 84.9%, rgba(234,125,0,1) 85%);
    padding: 0 0 $unit;
    position: relative;
    .fa-li span,
    p,
    h4,
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      li {
        list-style-type: none;
        margin-top: 0;
      }
    }
    ul.fa-ul {
      margin-left: $unit*1.5;
    }
    h4 {
      margin-top: $unit;
    }
  }
  .footer-copyright {
    .columns {
      display: flex;
      align-items: center;
    }
    p,
    a {
      color: $theme-footer-dark;
    }
    a:hover {
      color: $theme-footer-dark;
    }
    p {
      margin: $unit/2 0;
    }
    .logos {
      text-align: right;
      a:hover {
        text-decoration: none;
      }
      .scvo-logo img {
        height: 38px;
      }
      .sg-logo img {
        max-height: 32px;
        margin-top: 5px;
        margin-right: $unit*1.5;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .sidebar-not-present {
    margin-top: -($unit*1.7);
  }
  html {
    font-size: 18px;
  }
  .container {
    padding: 0 $unit/2;
  }
  header {
    .brand .logo {
      zoom: .75;
    }
    .page-title {
      clear: both;
      padding: $unit/4 0 0;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }

  .table-condensed {
    margin-bottom: 0;
    border-top: 0;
    width: 100%;
    thead, tbody {
      float: left;
    }
    th,
    td {
      width: auto;
    }
    thead {
      width: 20%;
      tr {
        width: 100%;
        margin-top: 7px;
        th {
          font-size: 1rem;
          text-align: left;
          border-width: 0;
          margin-top: .33rem;
          // height: 40px;
          p {
            padding: $unit/10 0;
          }
        }
        th:last-child {
          border-bottom: none;
        }
      }
    }
    tbody {
      width: 80%;
      tr {
        width: 33.33%;
        th {
          height: 42px;
          text-align: center;
          border-top: none;
        }
        td {
          text-align: center;
        }
      }
    }
    tr {
      display: block;
      float: left;
    }
    th, td {
      display: block;
    }
  }
  footer .footer-copyright .logos {
    text-align: center;
    margin-bottom: $unit/2;
  }
}
@media screen and (max-width: 400px) {
  .table-responsive {
    zoom: 0.8;
  }
  footer .footer-copyright .logos img {
    display: block;
    margin: $unit/2 auto $unit !important;
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-centre {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}
.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}
.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}
.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}
.x-padding {
  padding: $unit/2 !important;
}
.x-padding-full {
  padding: $unit !important;
}
.t-padding {
  padding-top: $unit/2 !important;
}
.b-padding {
  padding-bottom: $unit/2 !important;
}
.l-padding {
  padding-left: $unit/2 !important;
}
.r-padding {
  padding-right: $unit/2 !important;
}
.t-padding-full {
  padding-top: $unit !important;
}
.b-padding-full {
  padding-bottom: $unit !important;
}
.l-padding-full {
  padding-left: $unit !important;
}
.r-padding-full {
  padding-right: $unit !important;
}
.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}
.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}
.v-margin-full-bottom {
  margin-bottom: $unit !important;
}
.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}
.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}
.t-margin {
  margin-top: $unit/2 !important;
}
.b-margin {
  margin-bottom: $unit/2 !important;
}
.l-margin {
  margin-left: $unit/2 !important;
}
.r-margin {
  margin-right: $unit/2 !important;
}
.t-margin-full {
  margin-top: $unit !important;
}
.b-margin-full {
  margin-bottom: $unit !important;
}
.l-margin-full {
  margin-left: $unit !important;
}
.r-margin-full {
  margin-right: $unit !important;
}
.x-margin {
  margin: $unit/2 !important;
}
.x-margin-full {
  margin: $unit !important;
}
.no-margin {
  margin: 0 !important;
}
.border {
  border-style: solid;
  border-width: 1px;
}
.t-border {
  border-top-style: solid;
  border-top-width: 1px;
}
.l-border {
  border-left-style: solid;
  border-left-width: 1px;
}
.b-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.r-border {
  border-right-style: solid;
  border-right-width: 1px;
}
.rounded {
  border-radius: 4px;
}
.tl-rounded {
  border-top-left-radius: 4px;
}
.tr-rounded {
  border-top-right-radius: 4px;
}
.bl-rounded {
  border-bottom-left-radius: 4px;
}
.br-rounded {
  border-bottom-right-radius: 4px;
}
.t-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.l-rounded {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.b-rounded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.r-rounded {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-full {
  border-radius: 16px;
}
.tl-rounded-full {
  border-top-left-radius: 16px;
}
.tr-rounded-full {
  border-top-right-radius: 16px;
}
.bl-rounded-full {
  border-bottom-left-radius: 16px;
}
.br-rounded-full {
  border-bottom-right-radius: 16px;
}
.t-rounded-full {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.l-rounded-full {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.b-rounded-full {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.r-rounded-full {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 479px) {
  .no-float-sm {
    float: auto !important;
  }
  .no-t-margin-sm {
    margin-top: 0 !important;
  }
  .no-b-margin-sm {
    margin-bottom: 0 !important;
  }
  .no-l-margin-sm {
    margin-left: 0 !important;
  }
  .no-r-margin-sm {
    margin-right: 0 !important;
  }
  .no-v-margin-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .no-h-margin-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .no-t-padding-sm {
    padding-top: 0 !important;
  }
  .no-b-padding-sm {
    padding-bottom: 0 !important;
  }
  .no-l-padding-sm {
    padding-left: 0 !important;
  }
  .no-r-padding-sm {
    padding-right: 0 !important;
  }
  .no-v-padding-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-h-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .t-margin-sm {
    margin-top: $unit/2 !important;
  }
  .b-margin-sm {
    margin-bottom: $unit/2 !important;
  }
  .l-margin-sm {
    margin-left: $unit/2 !important;
  }
  .r-margin-sm {
    margin-right: $unit/2 !important;
  }
  .v-margin-sm {
    margin-top: $unit/2 !important;
    margin-bottom: $unit/2 !important;
  }
  .h-margin-sm {
    margin-left: $unit/2 !important;
    margin-right: $unit/2 !important;
  }
  .t-margin-full-sm {
    margin-top: $unit !important;
  }
  .b-margin-full-sm {
    margin-bottom: $unit !important;
  }
  .l-margin-full-sm {
    margin-left: $unit !important;
  }
  .r-margin-full-sm {
    margin-right: $unit !important;
  }
  .v-margin-full-sm {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
  .h-margin-full-sm {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .t-padding-sm {
    padding-top: $unit/2 !important;
  }
  .b-padding-sm {
    padding-bottom: $unit/2 !important;
  }
  .l-padding-sm {
    padding-left: $unit/2 !important;
  }
  .r-padding-sm {
    padding-right: $unit/2 !important;
  }
  .v-padding-sm {
    padding-top: $unit/2 !important;
    padding-bottom: $unit/2 !important;
  }
  .h-padding-sm {
    padding-left: $unit/2 !important;
    padding-right: $unit/2 !important;
  }
  .t-padding-full-sm {
    padding-top: $unit !important;
  }
  .b-padding-full-sm {
    padding-bottom: $unit !important;
  }
  .l-padding-full-sm {
    padding-left: $unit !important;
  }
  .r-padding-full-sm {
    padding-right: $unit !important;
  }
  .v-padding-full-sm {
    padding-top: $unit !important;
    padding-bottom: $unit !important;
  }
  .h-padding-full-sm {
    padding-left: $unit !important;
    padding-right: $unit !important;
  }
}

::placeholder {
  color: $gray-color;
}

::-moz-selection {
  color: #fff;
  background: $dark-color;
}
::selection {
  color: #fff;
  background: $dark-color;
}

.kalendae .k-days span {
  width: 20px !important;
  height: auto !important;
}
