<div class="header-image" style="background-image:url({{~>asset_url url='images/luke-porter-203637-unsplash-wide.jpg' ~}});">
  <div class="header-image-overlay">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="bottom">
      <polygon fill="white" points="0,100 100,100 0,0" />
    </svg>
  </div>
</div>
<div class="container">
  <h3 class="no-margin text-centre">
    Get certificates
  </h3>
  <p class="b-margin-full b-padding text-centre">
    <strong>Signed by Scottish Government Ministers</strong>
  </p>
  <div class="columns certificates b-margin-full">
    <div class="column col-sm-6 col-3 certificate text-centre">
      {{> badge api_name="Challenge"}}
      <h4 class="t-margin-full">
        The Challenge
      </h4>
      <p>
        For those getting started in volunteering through team challenges
      </p>
    </div>
    <div class="column col-sm-6 col-3 certificate text-centre">
      {{> badge api_name="10"}}
      <h4 class="t-margin-full">
        The Approach
      </h4>
      <p>
        For when you've reached 10 and 25 hours volunteering
      </p>
    </div>
    <div class="column col-sm-6 col-3 certificate text-centre">
      {{> badge api_name="50"}}
      <h4 class="t-margin-full">
        The Ascent
      </h4>
      <p>
        For when you've reached 50, 100, 200 or even 500 hours
      </p>
    </div>
    <div class="column col-sm-6 col-3 certificate text-centre">
      {{> badge api_name="Summit"}}
      <h4 class="t-margin-full">
        The Summit
      </h4>
      <p>
        For those that have made an outstanding contribution to volunteering
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column col-6 col-lg-8 col-md-12 col-mx-auto">
      <h2 class="text-centre">
        Aged 12-25 and volunteer?
      </h2>
      <p class="b-margin-full text-centre">
        The {{@root.context.metaData.title}} are the Scottish Government's way of celebrating, recognising and rewarding the commitment, contribution and achievements of young volunteers in Scotland.
      </p>
      {{!-- <p class="b-margin-full">
        Do you have a <strong>claim code</strong> from an existing certificate? Sign up now to add it to your account.
      </p> --}}
      <div class="my-saltire columns b-margin-full">
        <div class="column col-12 col-mx-auto">
          <div class="columns">
            <div class="column col-6 my-saltire-item align-centre">
              <a href="/sign-up" class="btn btn-block btn-primary text-centre">Sign up now</a>
            </div>
            <div class="column col-6 my-saltire-item align-centre">
              <a href="/sign-in" class="btn btn-block text-centre">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="column col-6 col-lg-12">
      <h3 class="t-margin">
        Group administrator?
      </h3>
      <div class="my-saltire columns b-margin-full">
        <div class="column col-12 col-mx-auto">
          <div class="columns">
            <div class="column col-6 my-saltire-item align-centre">
              <a href="/sign-up-admin" class="btn btn-block text-centre">Request approval</a>
            </div>
            <div class="column col-6 my-saltire-item align-centre">
              <a href="/sign-in-admin" class="btn btn-block text-centre">Group administrator sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div> --}}
  </div>
</div>