<div class="header-image" style="background-image:url({{~>asset_url url='images/luke-porter-203637-unsplash-wide.jpg' ~}});">
  <div class="header-image-overlay">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="bottom">
      <polygon fill="white" points="0,100 100,100 0,0" />
    </svg>
  </div>
</div>
<div class="container">
  <h2>
    What are the Saltire Awards?
  </h2>
  <p class="b-margin-full">
    {{@root.context.metaData.fullTitle}} are the Scottish Government's way of celebrating, recognising and rewarding the commitment, contribution and achievements of young volunteers in Scotland, aged between 12 and 25.
  </p>
  <p class="b-margin-full">
    Young people gain nationally recognised certificates, signed by Scottish Government Ministers, for the different amounts of volunteering they do.
  </p>
  <h3 class="no-margin">
    What is volunteering?
  </h3>
  <p class="b-margin-full">
    The Saltire Awards recognise volunteering that meets the following three clear characteristics:
  </p>
  <ul class="b-margin-full">
    <li>It is a free will activity.  This means you are doing it because you want to, and no one is forcing you to do it.</li>
    <li>It is not done for financial gain. Volunteering is not a job and you cannot be paid; however, you may have any reasonable expenses covered.</li>
    <li>It is for the benefit of the community, society at large or an individual</li>
  </ul>

  <h3 class="no-margin">
    Why you might want to volunteer?
  </h3>
  <ul class="b-margin-full">
    <li>Gain new skills and experience that will look great on your CV and could help you at school and/or       work</li>
    <li>Meet new people and make new friends and connections</li>
    <li>Make a difference to individual people, communities and the environment</li>
    <li>Have fun! You will have the chance to get involved in variety of activities that might not have done before</li>
  </ul>

  <h3 class="no-margin">
    How to get involved
  </h3>
  <p>
    <a href="/search">Search for volunteer opportunities</a><br />
    <a href="/info-for-volunteers">Find out more</a><br />
    <a href="info-for-groups">Support young people in your group / organisation</a>
  </p>

  <h3 class="no-margin">
    Ready to get started?
  </h3>
  <p>
    Volunteer? <a href="/sign-up">sign up</a> or <a href="/sign-in">sign in</a><br />
    Supporting a group? <a href="/info-for-groups">sign up</a> or <a href="/sign-in-admin">sign in</a>
  </p>

  {{!-- <h3 class="text-centre t-margin">
    Volunteer?
  </h3>
  <div class="my-saltire columns b-margin-full">
    <div class="column col-sm-12 col-6 col-mx-auto">
      <div class="columns">
        <div class="column col-6 my-saltire-item align-centre">
          <a href="/sign-up" class="btn btn-block btn-primary text-centre">Sign up now</a>
        </div>
        <div class="column col-6 my-saltire-item align-centre">
          <a href="/sign-in" class="btn btn-block text-centre">Sign in</a>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-centre t-margin">
    Group administrator?
  </h3>
  <div class="my-saltire columns b-margin-full">
    <div class="column col-sm-12 col-6 col-mx-auto">
      <div class="columns">
        <div class="column col-6 my-saltire-item align-centre">
          <a href="/sign-up-admin" class="btn btn-block text-centre">Request approval</a>
        </div>
        <div class="column col-6 my-saltire-item align-centre">
          <a href="/sign-in-admin" class="btn btn-block text-centre">Group administrator sign in</a>
        </div>
      </div>
    </div>
  </div> --}}
</div>