<!-- FORM: HEAD SECTION -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="referrer" content="no-referrer-when-downgrade">
            <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){
            const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
            let formElement = document.getElementById("tfa_0");
            if (null === formElement) {
                formElement = document.getElementById("0");
            }
            let appendJsTimerElement = function(){
                let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
                let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
                if (null !== cumulatedTimeElement) {
                    let cumulatedTime = parseInt(cumulatedTimeElement.value);
                    if (null !== cumulatedTime && cumulatedTime > 0) {
                        formTimeDiff += cumulatedTime;
                    }
                }
                let jsTimeInput = document.createElement("input");
                jsTimeInput.setAttribute("type", "hidden");
                jsTimeInput.setAttribute("value", formTimeDiff.toString());
                jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
                jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
                jsTimeInput.setAttribute("autocomplete", "off");
                if (null !== formElement) {
                    formElement.appendChild(jsTimeInput);
                }
            };
            if (null !== formElement) {
                if(formElement.addEventListener){
                    formElement.addEventListener('submit', appendJsTimerElement, false);
                } else if(formElement.attachEvent){
                    formElement.attachEvent('onsubmit', appendJsTimerElement);
                }
            }
        });
    </script>

    <link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=1628587126" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
    <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=1628587126"></script>
    <script type="text/javascript">
        wFORMS.behaviors.prefill.skip = false;
    </script>
        <link rel="stylesheet" type="text/css" href="https://www.tfaforms.com/css/kalendae.css" />
	<script type="text/javascript" src="https://www.tfaforms.com/js/kalendae/kalendae.standalone.min.js" ></script>
	<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms_calendar.js"></script>
    <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=1628587126"></script>

    <!-- FORM: BODY SECTION -->
    <div class="container wFormContainer" >
        <div class="wFormHeader"></div>
        <style type="text/css"></style><div class=""><div class="wForm" id="4924816-WRPR" dir="ltr">
    <div class="codesection" id="code-4924816"></div>
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="form form-horizontal hintsBelow labelsAbove" id="4924816" role="form">
    <div class="wfPage" id="wfPgIndex-1"><div class="section pageSection" id="tfa_1">
    <h4 id="tfa_1-T">Nominee</h4>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_3-D">
    <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">First name</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_3" name="tfa_3" value="" title="First name" class="form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_4-D">
    <label id="tfa_4-L" class="form-label preField reqMark" for="tfa_4">Last name</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_4" name="tfa_4" value="" title="Last name" class="form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_5-D">
    <label id="tfa_5-L" class="form-label preField " for="tfa_5">Address</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><textarea id="tfa_5" name="tfa_5" title="Address" class="form-input"></textarea></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_6-D">
    <label id="tfa_6-L" class="form-label preField reqMark" for="tfa_6">Local authority</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><select aria-required="true" id="tfa_6" name="tfa_6" title="Local authority" class="form-input required" required><option value="">Please select...</option>
    <option value="tfa_7" id="tfa_7" class="">Aberdeen</option>
    <option value="tfa_8" id="tfa_8" class="">Aberdeenshire</option>
    <option value="tfa_9" id="tfa_9" class="">Angus</option>
    <option value="tfa_10" id="tfa_10" class="">Argyll &amp; Bute</option>
    <option value="tfa_11" id="tfa_11" class="">Clackmannanshire</option>
    <option value="tfa_12" id="tfa_12" class="">Dumfries &amp; Galloway</option>
    <option value="tfa_13" id="tfa_13" class="">Dundee</option>
    <option value="tfa_14" id="tfa_14" class="">East Ayrshire</option>
    <option value="tfa_15" id="tfa_15" class="">East Dunbartonshire</option>
    <option value="tfa_16" id="tfa_16" class="">East Lothian</option>
    <option value="tfa_17" id="tfa_17" class="">East Renfrewshire</option>
    <option value="tfa_18" id="tfa_18" class="">Edinburgh</option>
    <option value="tfa_19" id="tfa_19" class="">Falkirk</option>
    <option value="tfa_20" id="tfa_20" class="">Fife</option>
    <option value="tfa_21" id="tfa_21" class="">Glasgow</option>
    <option value="tfa_22" id="tfa_22" class="">Highland</option>
    <option value="tfa_23" id="tfa_23" class="">Inverclyde</option>
    <option value="tfa_24" id="tfa_24" class="">Midlothian</option>
    <option value="tfa_25" id="tfa_25" class="">Moray</option>
    <option value="tfa_26" id="tfa_26" class="">Na h-Eileanan Siar</option>
    <option value="tfa_27" id="tfa_27" class="">North Ayrshire</option>
    <option value="tfa_28" id="tfa_28" class="">North Lanarkshire</option>
    <option value="tfa_29" id="tfa_29" class="">Orkney</option>
    <option value="tfa_30" id="tfa_30" class="">Perth &amp; Kinross</option>
    <option value="tfa_31" id="tfa_31" class="">Renfrewshire</option>
    <option value="tfa_32" id="tfa_32" class="">Scottish Borders</option>
    <option value="tfa_33" id="tfa_33" class="">Shetland</option>
    <option value="tfa_34" id="tfa_34" class="">South Ayrshire</option>
    <option value="tfa_35" id="tfa_35" class="">South Lanarkshire</option>
    <option value="tfa_36" id="tfa_36" class="">Stirling</option>
    <option value="tfa_37" id="tfa_37" class="">West Dunbartonshire</option>
    <option value="tfa_38" id="tfa_38" class="">West Lothian</option></select></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_39-D">
    <label id="tfa_39-L" class="form-label preField reqMark" for="tfa_39">Postcode</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_39" name="tfa_39" value="" title="Postcode" class="form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_40-D">
    <label id="tfa_40-L" class="form-label preField reqMark" for="tfa_40">Date of birth</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_40" name="tfa_40" value="" autocomplete="off" title="Date of birth" class="validate-datecal form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_41-D">
    <label id="tfa_41-L" class="form-label preField " for="tfa_41">Role</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><textarea id="tfa_41" name="tfa_41" title="Role" class="form-input"></textarea></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_42-D">
    <label id="tfa_42-L" class="form-label preField " for="tfa_42">Length of service</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input type="text" id="tfa_42" name="tfa_42" value="" title="Length of service" class="form-input"></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_43-D">
    <label id="tfa_43-L" class="form-label preField " for="tfa_43">Volunteer story</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><textarea id="tfa_43" name="tfa_43" title="Volunteer story" class="form-input"></textarea></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_44-D">
    <label id="tfa_44-L" class="form-label preField " for="tfa_44">Volunteer impact</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><textarea id="tfa_44" name="tfa_44" title="Volunteer impact" class="form-input"></textarea></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_45-D" role="radiogroup" aria-labelledby="tfa_45-L" data-tfa-labelledby="-L tfa_45-L">
    <label id="tfa_45-L" class="form-label preField "><span class="js-qt">Completed The Challenge</span></label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><span id="tfa_45" class="choices vertical "><span class="oneChoice">
      <label class="form-radio postField" id="tfa_46-L" for="tfa_46">
        <input type="radio" value="tfa_46" class="" id="tfa_46" name="tfa_45" aria-labelledby="tfa_46-L" data-tfa-labelledby="tfa_45-L tfa_46-L">
<span class="form-icon"></span>
Yes</label></span><span class="oneChoice">
  <label class="form-radio postField" id="tfa_47-L" for="tfa_47">
    <input type="radio" value="tfa_47" class="" id="tfa_47" name="tfa_45" aria-labelledby="tfa_47-L" data-tfa-labelledby="tfa_45-L tfa_47-L">
<span class="form-icon"></span>
No</label></span></span></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_48-D" role="radiogroup" aria-labelledby="tfa_48-L" data-tfa-labelledby="-L tfa_48-L">
    <label id="tfa_48-L" class="form-label preField "><span class="js-qt">Completed The Approach</span></label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><span id="tfa_48" class="choices vertical "><span class="oneChoice">
      <label class="form-radio postField" id="tfa_49-L" for="tfa_49">
        <input type="radio" value="tfa_49" class="" id="tfa_49" name="tfa_48" aria-labelledby="tfa_49-L" data-tfa-labelledby="tfa_48-L tfa_49-L">
<span class="form-icon"></span>
Yes</label></span><span class="oneChoice">
  <label class="form-radio postField" id="tfa_50-L" for="tfa_50">
    <input type="radio" value="tfa_50" class="" id="tfa_50" name="tfa_48" aria-labelledby="tfa_50-L" data-tfa-labelledby="tfa_48-L tfa_50-L">
<span class="form-icon"></span>
No</label></span></span></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_51-D" role="radiogroup" aria-labelledby="tfa_51-L" data-tfa-labelledby="-L tfa_51-L">
    <label id="tfa_51-L" class="form-label preField "><span class="js-qt">Completed The Ascent</span></label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><span id="tfa_51" class="choices vertical "><span class="oneChoice">
      <label class="form-radio postField" id="tfa_52-L" for="tfa_52">
        <input type="radio" value="tfa_52" class="" id="tfa_52" name="tfa_51" data-conditionals="#tfa_54-D" aria-labelledby="tfa_52-L" data-tfa-labelledby="tfa_51-L tfa_52-L">
<span class="form-icon"></span>
Yes</label></span><span class="oneChoice">
  <label class="form-radio postField" id="tfa_53-L" for="tfa_53">
    <input type="radio" value="tfa_53" class="" id="tfa_53" name="tfa_51" aria-labelledby="tfa_53-L" data-tfa-labelledby="tfa_51-L tfa_53-L">
<span class="form-icon"></span>
No</label></span></span></div>
    </div>
    <div class="form-group" id="tfa_54-D" data-condition="`#tfa_52`"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    ">
    <label id="tfa_54-L" class="form-label preField reqMark" for="tfa_54">Date completed The Ascent</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_54" name="tfa_54" value="" autocomplete="off" title="Date completed The Ascent" class="validate-datecal form-input required" required></div>
    </div>
    </div></div>
    <div class="wfPage" id="wfPgIndex-2"><div class="section pageSection" id="tfa_2">
    <h4 id="tfa_2-T">Nominator</h4>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_55-D">
    <label id="tfa_55-L" class="form-label preField reqMark" for="tfa_55">Name</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_55" name="tfa_55" value="" title="Name" class="form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_56-D">
    <label id="tfa_56-L" class="form-label preField reqMark" for="tfa_56">Email address</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_56" name="tfa_56" value="" title="Email address" class="validate-email form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_57-D">
    <label id="tfa_57-L" class="form-label preField " for="tfa_57">Phone number</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input type="text" id="tfa_57" name="tfa_57" value="" title="Phone number" class="form-input"></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_58-D">
    <label id="tfa_58-L" class="form-label preField reqMark" for="tfa_58">Organisation</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input aria-required="true" type="text" id="tfa_58" name="tfa_58" value="" title="Organisation" class="form-input required" required></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_59-D">
    <label id="tfa_59-L" class="form-label preField " for="tfa_59">Address</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><textarea id="tfa_59" name="tfa_59" title="Address" class="form-input"></textarea></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_60-D">
    <label id="tfa_60-L" class="form-label preField " for="tfa_60">Postcode</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input type="text" id="tfa_60" name="tfa_60" value="" title="Postcode" class="form-input"></div>
    </div>
    <div class="form-group"><div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12"><div class="oneField field-container-D    " id="tfa_61-D">
    <label id="tfa_61-L" class="form-label preField " for="tfa_61">Project</label></div></div><div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12"><input type="text" id="tfa_61" name="tfa_61" value="" title="Project" class="form-input"></div>
    </div>
    </div></div>
    <div class="actions" id="4924816-A"><input type="submit" data-label="Submit" class="btn primaryAction" id="submit_button" value="Submit"></div>
    <div style="clear:both"></div>
    <input type="hidden" value="4924816" name="tfa_dbFormId" id="tfa_dbFormId"><input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="ba95f8ed9be1bf98b488bd67dc107849" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid"><input type="hidden" value="4" name="tfa_dbVersionId" id="tfa_dbVersionId"><input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
    </div></div>
     </div>
