<div class="container">
  <div class="columns">
    <div class="column col-9 col-xl-12">
      <h2>
        Demo for award.
      </h2>

      First get a user with a Challenge 10 and a 25 and a 50 award.

      AwardInfo: This will find the award based on the award query parameter, defaulting to the user's largest numerical award.

      This runs off the common task getAwardInfo, which itself listens to the url (?award=) or failing that, the user's maximum_award_level.

      Note - this will result in an error if the award is bad, or the user doesn't have it, we could easily divert to a no award page though, rather than 500.

      {{stringify @root.data.awardInfo}}


    </div>
  </div>
</div>