<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user-clock fa-3x"></span>
  </div>
  <p class="empty-title h5">Volunteering verification</p>
  <p class="empty-subtitle">Verification has failed. Please <a href="support@saltireawards.org.uk">contact us</a> for assistance.</p>
  <div class="empty-action"></div>
</div>
