<div class="container-content content-account">
  <h2>{{#compare @root.data.accountInfo.user_type "===" "Volunteer"}}Parent or guardian{{else}}Group Administrator{{/compare}}  verification</h2>
  <p>Verification successful. {{@root.data.accountInfo.first_name}} will now be able to use all the features of this site.</p>
</div>