
<div class="container-content content-account">
  <h2>{{#compare @root.data.accountInfo.user_type "===" "Volunteer"}}Parent or guardian{{else}}Group administrator{{/compare}} verification</h2>
  <p>{{#compare @root.data.accountInfo.user_type "===" "Volunteer"}}Parent or guardian{{else}}Group administrator{{/compare}} verification has failed. Please <a href="mailto:support@saltireawards.org.uk">contact us</a> for more assistance</p>
</div>